.admin header {
  top: 15px !important;
}
.myWrapper {
  margin-bottom: 50px;
}
.tabs {
  margin-left: 25px !important;
}
.index_card {
  z-index: 999;
  margin-right: auto;
}

$gw-blue: rgb(230, 208, 11); /*#3498db  edit   */
$gw-red: rgb(192, 57, 43); /*#c0392b  delete   */

.button {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 0.25em;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
}

.touch:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
}

.touch {
  transition: ease-in-out 0.2s;
  text-align: center;
}

.edit:before,
.delete:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1rem;
  background: none;
  color: #fff;
  position: relative;
}
.edit, .delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.touch.edit:before,
.touch.delete:before {
  width: 100%;
  text-align: center !important;
  font-size: 1.25rem;
}

.edit {
  background: $gw-blue;

  &:before {
    content: "\f040";
  }
}

.delete {
  background: $gw-red;

  &:before {
    content: "\f1f8";
  }
}

.inlineIcon.delete:before {
  color: $gw-red;
}

.adminCard {
  min-width: 370px;
}

.sendBtn {
  background: #f09312 !important;
}

.nav-link {
  color: #f09312 !important;
  border: none;
  background: transparent;
  &:hover {
    color: #f09312 !important;
  }
}

.activeTab {
  background: #f09312 !important;
  color: white !important;
  &:hover {
    color: white !important;
  }
}

.tab-pane {
  background: transparent !important;
  display: none;
}

.activeTabContent {
  display: block;
}

.news-edit img,.news_delete img{
  width: 20px;
  height: 20px;
}

.news-edit,.news_delete{
  padding: 10px !important;
}

.news_delete{
  padding-right: 8px !important;
}

.news-navigators{
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%,0);
}