header {
  padding: 1.2rem 0;
  position: fixed;
  top:48px;
  background-color: #333333b3 !important;
  z-index: 9999;
  width: 100%;
  transition: all 0.4s ease !important;
}
.top_head{
  margin-top: -15px;
}

.header-top {
  background: #000;
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  z-index: 999;
  transition: all 0.4s ease !important;
}

.logo {
  width: 200px;
  height: 30px;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.menu > a {
  color: #fff !important;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  font-family: "Raleway", sans-serif;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 700;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ec6608 !important;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }
  &:active::before {
    background-color: #ec6608 !important;
  }
  &:hover::before,
  &:focus::before { 
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

/* Language */

.langs  .active:after {
  border-bottom: 3px solid #ec6608 !important;
  width: 100% !important;
}



.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #333;
  clip-path: circle(0px at calc(100% - 45px) 45px);
  transition: 0.3s all ease-in-out;
}

.header-container ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  padding: 10px 30px;
  position: relative;
  line-height: 1em;
  text-transform: capitalize;
  transition: 0.3s all ease;
}

.header-container ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.header-container ul li {
  margin: 2em 0;
}

.header-container ul li a:hover {
  background: white;
  color: #5a84a2;
  border-radius: 40px;
  transition: 0.3s all ease;
  transform: scale(1.2);
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.8);
    .user{
        filter: invert(52%) sepia(23%) saturate(665%) hue-rotate(162deg) brightness(91%) contrast(89%);
    }
    
}

.menu_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 23px;
  z-index: 1;
  text-align: center;
  line-height: 2.6em;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  transition: 0.3s all ease;
}

.menu_btn:hover {
  transition: 0.3s all ease;
  transform: scale(1.2);
}

#active:checked ~ .header-container {
  clip-path: circle(80%);
}

#active:checked ~ .menu_btn {
  background: white;
  color: #5a84a2;
}

#active {
  display: none;
}

#active:checked ~ .menu_btn i::before {
  content: "\f00d";
}

.mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .mobile {
    margin-top: 20px;
    display: block;
  }
  nav {
    display: none;
  }
}

.all_heads {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
